.stock-note>.items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5rem 1fr 3fr 1fr 1fr;
    border-bottom: 1px solid rgba($cl-gray, .15);
    padding: 1rem;
    vertical-align: top;

    &:last-child {
        border-bottom: none;
    }
}