#stock-portfolio {
    min-height: 100vh;
    margin-top: 0.5rem;

    .asset {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2rem 1fr;

        .board {
            grid-column: 1;
            grid-row: 1;
            @include icon-name-desktop($cl-purple);
        }

        .content {
            grid-column: 1;
            grid-row: 2;
            @include content-background;

            .items {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: repeat(4, 1fr);
                @include content-items;
            }
        }
    }

    .order {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2rem 1fr;
        margin-top: 0.5rem;

        .board {
            grid-column: 1;
            grid-row: 1;

            .items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .brand {
                    @include icon-name-desktop($cl-purple);
                }

                .record {
                    text-align: end;

                    .btn {
                        display: inline-block;
                        width: 7.5rem;

                        .sprite > .icon {
                            fill: rgba($cl-gold, 0.75);
                        }
                    }
                }
            }
        }

        .content {
            grid-column: 1;
            grid-row: 2;
            @include content-background;

            .items {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: repeat(7, 1fr);
                column-gap: 0.5rem;
                @include content-items;

                .item {
                    text-align: center;
                    position: relative;
                    @include input-label;

                    .btn {
                        display: inline-block;
                        width: 40%;
                        text-align: center;
                        padding: 0.25rem;
                    }
                }
            }
        }
    }
}
