#stock-trade {
    min-height: 100vh;
    margin-top: 1rem;
    color: rgba($cl-gray, 1);

    .trade {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2rem 1fr;
        grid-row-gap: 0.25rem;

        .board {
            grid-column: 1;
            grid-row: 1;

            .items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .record {
                    text-align: end;

                    .btn {
                        color: $cl-light;
                        border-radius: 3px;
                        margin: 0 0 0 0.25rem;
                        padding: 0.25rem;
                        width: 5rem;
                    }

                    .btn-search {
                        background: rgba($cl-gold, 0.75);
                        border: rgba($cl-gray, 0.75);

                        &:hover {
                            background: rgba($cl-gold, 1);
                            border: rgba($cl-gray, 1);
                        }
                    }

                    .btn-start {
                        background: rgba($cl-green, 0.75);
                        border: rgba($cl-gray, 0.75);

                        &:hover {
                            background: rgba($cl-green, 1);
                            border: rgba($cl-gray, 1);
                        }
                    }

                    .btn-report {
                        background: rgba($cl-red, 0.75);
                        border: rgba($cl-gray, 0.75);
                        color: $cl-light;

                        &:hover {
                            background: rgba($cl-red, 1);
                            border: rgba($cl-gray, 1);
                        }
                    }

                    .btn-price {
                        background: rgba($cl-blue, 0.75);
                        border: rgba($cl-gray, 0.75);

                        &:hover {
                            background: rgba($cl-blue, 1);
                            border: rgba($cl-gray, 1);
                        }
                    }

                    .btn-sector {
                        background: rgba($cl-purple, 0.75);
                        border: rgba($cl-gray, 0.75);

                        &:hover {
                            background: rgba($cl-purple, 1);
                            border: rgba($cl-gray, 1);
                        }
                    }
                }
            }
        }

        .content {
            grid-column: 1;
            grid-row: 2;
            background: $box-background;
            border: $box-border;
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;

            .items {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 5rem repeat(8, 1fr);
                border-bottom: 1px solid rgba($cl-gray, 0.15);
                padding: 0.25rem 0.5rem;

                &:last-child {
                    border-bottom: none;
                }
            }

            .color {
                color: rgba($cl-teal, 0.75);
            }
        }
    }
}
