#stock-trade {
    min-height: 100vh;
    margin-top: 1rem;
    color: rgba($cl-gray, 1);

    .trade {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2rem 1fr;
        grid-row-gap: 0.5rem;

        .board {
            grid-column: 1;
            grid-row: 1;

            .items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .record {
                    text-align: end;

                    .btn {
                        display: inline-block;
                        border-radius: 3px;
                        margin: 0 0 0 0.25rem;
                        padding: 0.25rem;
                        width: 7.5rem;
                        text-align: center;
                    }

                    .btn-search {
                        color: rgba($cl-gold, 0.75);
                        border: rgba($cl-gold, 0.75);
                        border: 1px solid transparent;

                        .sprite > .icon {
                            fill: rgba($cl-gold, 0.75);

                            &:hover {
                                fill: rgba($cl-gold, 1);
                            }
                        }
                        &:hover {
                            color: rgba($cl-gold, 1);
                            border: 1px solid rgba($cl-gold, 0.5);
                        }
                    }

                    .btn-start {
                        color: rgba($cl-green, 0.75);
                        border: rgba($cl-gray, 0.75);
                        border: 1px solid transparent;

                        .sprite > .icon {
                            fill: rgba($cl-green, 0.75);

                            &:hover {
                                fill: rgba($cl-green, 1);
                            }
                        }
                        &:hover {
                            color: rgba($cl-green, 1);
                            border: 1px solid rgba($cl-green, 0.5);
                        }
                    }

                    .btn-report {
                        color: rgba($cl-red, 0.75);
                        border: rgba($cl-red, 0.75);
                        border: 1px solid transparent;

                        .sprite > .icon {
                            fill: rgba($cl-red, 0.75);

                            &:hover {
                                fill: rgba($cl-red, 1);
                            }
                        }
                        &:hover {
                            color: rgba($cl-red, 1);
                            border: 1px solid rgba($cl-red, 0.5);
                        }
                    }

                    .btn-price {
                        color: rgba($cl-blue, 0.75);
                        border: rgba($cl-blue, 0.75);
                        border: 1px solid transparent;

                        .sprite > .icon {
                            fill: rgba($cl-blue, 0.75);

                            &:hover {
                                fill: rgba($cl-blue, 1);
                            }
                        }
                        &:hover {
                            color: rgba($cl-blue, 1);
                            border: 1px solid rgba($cl-blue, 0.5);
                        }
                    }

                    .btn-sector {
                        color: rgba($cl-purple, 0.75);
                        border: rgba($cl-purple, 0.75);
                        border: 1px solid transparent;

                        .sprite > .icon {
                            fill: rgba($cl-purple, 0.75);

                            &:hover {
                                fill: rgba($cl-purple, 1);
                            }
                        }
                        &:hover {
                            color: rgba($cl-purple, 1);
                            border: 1px solid rgba($cl-purple, 0.5);
                        }
                    }
                }
            }
        }

        .content {
            grid-column: 1;
            grid-row: 2;
            background: $box-background;
            border: $box-border;
            box-shadow: $box-shadow;
            border-radius: 5px;
            margin-top: 0.25rem;

            .search {
                display: grid;
                grid-template-columns: 1fr 20rem;
                grid-template-rows: auto;
                column-gap: 1rem;
                border-bottom: 1px solid rgba($cl-gray, 0.15);

                .form {
                    background: none;
                    color: rgba($cl-green, 0.75);
                    padding: 0.5rem 1rem;

                    .group > label > .sprite > .icon {
                        fill: $cl-green;
                    }

                    .group > .valid {
                        padding: 0.5rem 1rem;
                        margin-top: 0.25rem;
                    }
                }

                .button {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: auto;
                    column-gap: 0.25rem;
                    place-items: center;
                    width: 100%;

                    .btn {
                        width: 90%;
                        padding: 0.5rem 1rem;
                        margin-top: 2rem;
                        display: inline-block;
                    }
                }
            }
            .items {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(9, 1fr);
                column-gap: 0.5rem;
                border-bottom: 1px solid rgba($cl-gray, 0.15);
                padding: 0.25rem 0.5rem;

                &:last-child {
                    border-bottom: none;
                }
            }

            .color {
                color: rgba($cl-teal, 0.75);
            }
        }
    }
}
