#stock-trade {
    min-height: 100vh;
    margin-top: 1rem;

    .trade {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.02fr 1fr;
        grid-row-gap: 0.5rem;

        .board {
            grid-column: 1;
            grid-row: 1;

            .items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                row-gap: 0.5rem;

                .brand {
                    @include icon-name-desktop($cl-gray);
                }

                .record {
                    text-align: end;

                    .btn {
                        display: inline-block;
                        border-radius: 3px;
                        margin-right: 0.25rem;
                        padding: 0.25rem;
                        width: 7.5rem;
                        text-align: center;
                    }
                }
            }
        }

        .desktop-content {
            grid-column: 1;
            grid-row: 2;

            @include content-background;

            .items {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(9, 1fr);
                column-gap: 0.5rem;
                border-bottom: 1px solid rgba($cl-gray, 0.15);
                padding: 0.25rem;
                font-size: 0.85rem;
                font-weight: $fw-lighter;
                color: rbga($cl-dark, 0.75);

                .item {
                    padding: 0.25rem;

                    .btn {
                        display: inline-block;
                        border-radius: 3px;
                        margin-right: 0.25rem;
                        width: 45%;
                        text-align: center;
                        font-size: 0.75rem;
                        padding: 0.25rem;

                        @include icon-size-desktop;
                    }
                }

                &:nth-child(odd) {
                    background: rgba($cl-gray-100, 0.25);
                }

                &:nth-child(even) {
                    background: rgba($cl-gray-100, 0.1);
                }

                &:first-child {
                    font-weight: $fw-normal;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        .mobile-content {
            grid-column: 1;
            grid-row: 2;
            margin-top: 0.25rem;

            .items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                row-gap: 0.25rem;
                column-gap: 0.25rem;

                @include content-background;

                .item {
                    padding: 0.25rem;
                    position: relative;

                    .key {
                        position: absolute;
                        top: 0;
                        left: 5px;
                        font-size: 0.5rem;
                        font-weight: $fw-normal;
                    }

                    .value {
                        margin-top: 0.75rem;
                        font-size: 0.75rem;
                        text-align: center;
                        vertical-align: middle;
                        font-weight: $fw-lighter;
                    }

                    .btn {
                        font-size: 0.75rem;
                        padding: 0.25rem;

                        @include icon-size-mobile;
                    }
                }

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    #stock-trade > .trade {
        grid-template-rows: 0.02fr 1fr;

        .board {
            .items {
                grid-template-columns: 1fr;
                grid-template-rows: 2rem 1fr;
                row-gap: 0.25rem;

                .record {
                    text-align: start;

                    .btn {
                        width: 4.5rem;
                    }
                }
            }
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Tablets
 * ----------------------------------------
 */
@media (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    #stock-trade > .trade {
        grid-template-rows: 0.02fr 1fr;

        .board {
            .items {
                grid-template-rows: 2rem 1fr;
                grid-template-columns: 5rem 1fr;

                .record {
                    text-align: end;

                    .btn {
                        width: 7.5rem;
                    }
                }
            }
        }
    }
}
