#stock-watchlist {
    min-height: 100vh;
    margin-top: 0.5rem;

    .cheat {
        display: grid;
        grid-template-rows: 2rem 1fr;
        grid-template-columns: auto;

        .board {
            grid-column: 1;
            grid-row: 1;

            .items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .brand {
                    @include icon-name-desktop($cl-purple);
                }

                .build {
                    text-align: end;

                    .btn {
                        display: inline-block;
                        padding: 0.25rem;
                        width: 7.5rem;
                        @include icon-size-desktop;
                    }
                }
            }
        }

        .content {
            grid-column: 1;
            grid-row: 2;
            @include content-background;

            .items {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: auto;
                @include content-items;
            }
        }
    }

    .desktop-sector {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 2rem 1fr;
        margin-top: 0.5rem;

        .board {
            grid-column: 1;
            grid-row: 1;
            @include icon-name-desktop($cl-purple);
        }

        .content {
            grid-column: 1;
            grid-row: 2;
            @include content-background;

            .items {
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 5rem repeat(9, 1fr);
                @include content-items;

                .value {
                    vertical-align: center;

                    .btn {
                        display: inline-block;
                        font-size: 0.5rem;
                        padding: 0.25rem;
                        width: 45%;
                        @include icon-size-mobile;
                    }
                }
            }
        }
    }

    .mobile-sector {
        display: grid;
        grid-template-rows: 2rem 1fr;
        grid-template-columns: auto;
        margin-top: 0.5rem;

        .brand {
            grid-column: 1;
            grid-row: 1;
            @include icon-name-mobile($cl-purple);
        }
        .content {
            grid-column: 1;
            grid-row: 2;

            .items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                @include content-background;

                .item {
                    padding: 0.25rem;

                    .key {
                        font-size: 0.5rem;
                        font-weight: $fw-normal;
                        color: rgba($cl-green, 0.75);
                    }

                    .value {
                        padding-top: 0.25rem;
                        font-size: 0.75rem;
                        font-weight: $fw-lighter;
                        text-align: center;
                    }

                    .btn {
                        font-size: 0.75rem;
                        padding: 0.25rem;
                        @include icon-size-mobile;
                    }

                    &:nth-child(odd) {
                        background: rgba($cl-gray-100, 0.25);
                    }

                    &:nth-child(even) {
                        background: rgba($cl-gray-100, 0.1);
                    }
                }
            }
        }
    }
}
