#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    background: linear-gradient(
        125deg,
        rgba($cl-green, 0.85),
        rgba($cl-green, 0.75),
        rgba($cl-green, 0.95)
    );
    padding: 0 0.25rem;
    width: 100%;

    .explorer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
        padding-left: 0.25rem;

        a {
            color: $cl-gray-200;

            &:hover {
                color: $cl-gold;
            }
        }
    }

    .brand {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        font-size: 2rem;

        .sprite {
            color: orange;

            .icon {
                width: 4rem;
                height: 4rem;
            }
        }

        a {
            color: $cl-gray-200;

            &:hover {
                color: $cl-gold;
            }
        }
    }

    .auth {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        column-gap: 1rem;
        padding-right: 0.25rem;

        a {
            color: $cl-gray-200;

            &:hover {
                color: $cl-gold;
            }
        }
    }
}
