#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 2fr;
    background: linear-gradient(
        125deg,
        rgba($cl-green, 0.85),
        rgba($cl-green, 0.75),
        rgba($cl-green, 0.95)
    );
    padding: 0 0.25rem;
    width: 100%;

    .explorer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 1rem;
        padding-left: 0.25rem;

        a {
            color: $cl-gray-200;

            &:hover {
                color: $cl-gold;
            }
        }
    }

    .brand {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        font-size: 2rem;

        .sprite {
            color: orange;

            .icon {
                width: 4rem;
                height: 4rem;
            }
        }

        a {
            color: $cl-gray-200;

            &:hover {
                color: $cl-gold;
            }
        }
    }

    .auth {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        column-gap: 1rem;
        padding-right: 0.25rem;

        a {
            color: $cl-gray-200;

            &:hover {
                color: $cl-gold;
            }
        }
    }
}

.sticky {
   position: sticky; top: 0;
   z-index: 200;
}

#mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background: radial-gradient(
        circle at 50% 50%,
        rgb(51, 179, 44),
        rgb(4, 152, 14)
    );
    padding: 0.25rem;
    color: $cl-light;

    .brand {
        place-self: start;
        font-size: 2rem;

        .sprite {
            color: orange;

            .icon {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    .burger {
        place-self: end;
    }

    .menu {
        grid-column: 1 / 3;
        grid-row: 2;

        .navigation {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background: rgba($cl-lime, 0.25);
            border-radius: 5px;

            .items {
                padding: 1rem;
                border-bottom: 1px solid rgba($cl-light, 0.5);

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    #mobile > .brand {
        place-self: start;
        font-size: 1.5rem;

        .sprite > .icon {
            width: 4rem;
            height: 4rem;
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Tablets
 * ----------------------------------------
 */
@media (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    #header > .brand {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        font-size: 1rem;

        .sprite > .icon {
            width: 3rem;
            height: 3rem;
        }
    }
}
