{
    "printWidth": 140,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "strict",
    "semi": true
}
