{
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true
}
