#dashboard {
    min-height: 100vh;

    .chart {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        min-height: 25rem;
        margin-top: 1rem;

        .account {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            background: $box-background;
            border: $box-border;
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
        }

        .offer {
            grid-column: 1 / 2;
            grid-row: 2 / 5;
            background: $box-background;
            border: $box-border;
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
        }

        .graph {
            grid-column: 2 / 5;
            grid-row: 1 / 5;
            background: $box-background;
            border: $box-border;
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
        }
    }

    .rank {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem 1fr;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        min-height: 25rem;
        margin-top: 1rem;

        .board {
            grid-column: 1 / 2;
            grid-row: 1;
        }
        .gainer {
            grid-column: 1;
            grid-row: 2;
            background: $box-background;
            border: $box-border;
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
        }

        .losser {
            grid-column: 2;
            grid-row: 2;
            background: $box-background;
            border: $box-border;
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 0.25rem 0.5rem;
        }
    }
}
