#login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    .form-remember {
        display: grid;
        grid-template-columns: 2rem 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: center;
        padding: 1rem;

        .form-forgot {
            align-self: end;
            justify-self: end;
        }
    }

    .form-login {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;

        .btn {
            width: 50%;
        }

        .btn:hover {
            background: $cl-gold;
        }
    }
}
