/** public style.*/
#moon {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;

    .crypto {
        padding: 1rem 2rem;
    }
    .stone {
        padding: 1rem 2rem;

        .head {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 5rem 10rem 20rem repeat(8, 1fr);
            border-top: 1px solid #EAECEF;
            border-bottom: 1px solid #EAECEF;
            padding: 1rem 2rem;
        }
        .data {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 5rem 10rem 20rem repeat(8, 1fr);
            padding: 1rem 2rem;
            border-bottom: 1px solid #EAECEF;
        }
    }
}
