#header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border-bottom: 1px solid rgba($cl-gray, .15);
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    height: 6rem;
    z-index: 100;
    background: rgba($cl-gray, .50);

    .navi {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(24, 1fr);
        align-items: center;
        justify-items: center;
        column-gap: 2rem;

        .navi-trade {
            justify-self: start;
            grid-row: 1 / 1;
            grid-column: 1 / 5;

            a {
                color: $cl-gold;
                font-size: $fz-medium;
                font-weight: $fw-bolder;
                text-transform: uppercase;

                &:hover {
                    color: $cl-white;
                }
            }
        }

        .navi-screen {
            grid-row: 1 / 1;
            grid-column: 5 / 6;
        }

        .navi-games {
            grid-row: 1 / 1;
            grid-column: 6 / 7;
        }

        .navi-moons {
            grid-row: 1 / 1;
            grid-column: 7 / 8;
        }

        .navi-login {
            grid-row: 1 / 1;
            grid-column: 23 / 24;
        }

        .navi-register {
            grid-row: 1 / 1;
            grid-column: 24 / 25;
            background: $cl-gold;
            padding: .50rem;
            border-radius: .50rem;
        }

        .navi-logout {
            grid-row: 1 / 1;
            grid-column: 24 / 25;
        }
    }
}