/**
 * ----------------------------------------
 * Typewriter animation.
 * ----------------------------------------
 */
.writer {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 2s steps(30, end) 1s 1 normal both, blinking 1s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: rgba($cl-green, 0.75);
    }
    100% {
        border-color: transparent;
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .writer {
        white-space: normal;
    }
}

/**
 * ----------------------------------------
 *  Media Query Tablets
 * ----------------------------------------
 */
@media (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    .writer {
        white-space: normal;
    }
}
