/** CSS reset */
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-size: $fz-mini;
    font-weight: $fw-lighter;
    line-height: $fz-compact;
    background: $cl-white;
    color: $cl-dark;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
