.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 10rem 10rem;
    place-items: center;
    margin-top: 1rem;
    min-height: 75vh;
    background-image: url("/public/images/world-map.svg");
    background-size: cover;

    .headline {
        font-size: 3.5rem;
        color: $cl-gold;
        text-transform: uppercase;
        background: rgba($cl-dark, 0.75);
        padding: 1rem;
        border-radius: 3px;
    }

    .tagline {
        font-size: 1.5rem;
        color: $cl-light;
        background: rgba($cl-dark, 0.75);
        padding: 1rem;
        border-radius: 3px;
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero {
        grid-template-rows: 5fr 4fr 4fr;
        background-size: 100% 100%;

        .headline {
            font-size: 1.5rem;
            padding: 0.5rem;
        }

        .tagline {
            font-size: 1rem;
            padding: 0.5rem;
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Tablets
 * ----------------------------------------
 */
@media (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero {
        grid-template-rows: 8fr 8fr 8fr;
        background-size: 100% 100%;
    }
}
