.crypto-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 1rem;
}
