.crypto-portfolio-modal {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    align-items: center;
    justify-items: end;
    color: $cl-white;
    font-size: $fz-compact;
    background: rgba($cl-green, .50);
    border: 2px solid rgba($cl-white, .50);
    border-radius: 1rem;

    .modal-header {
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        align-self: center;
        justify-self: start;
        padding: 1rem;
    }

    .modal-close {
        grid-row: 1 / 2;
        grid-column: 10 / 11;
        align-self: center;
        justify-self: center;
        padding: 1rem 2rem;
        color: $cl-white;
        cursor: pointer;
    }

    .modal-id-label {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    .modal-id {
        grid-row: 2 / 3;
        grid-column: 3 / 9;
    }

    .modal-order-label {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .modal-order {
        grid-row: 3 / 4;
        grid-column: 3 / 9;
    }

    .modal-order-error {
        grid-row: 3 / 4;
        grid-column: 9 / 11;
    }

    .modal-wallet-label {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .modal-wallet {
        grid-row: 4 / 5;
        grid-column: 3 / 9;
    }

    .modal-wallet-error {
        grid-row: 4 / 5;
        grid-column: 9 / 11;
    }

    .modal-name-label {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    .modal-name {
        grid-row: 5 / 6;
        grid-column: 3 / 9;
    }

    .modal-name-error {
        grid-row: 5 / 6;
        grid-column: 9 / 11;
    }

    .modal-coin-label {
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }

    .modal-coin {
        grid-row: 6 / 7;
        grid-column: 3 / 9;
    }

    .modal-coin-error {
        grid-row: 6 / 7;
        grid-column: 9 / 11;
    }

    .modal-quantity-label {
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }

    .modal-quantity {
        grid-row: 7 / 8;
        grid-column: 3 / 9;
    }

    .modal-quantity-error {
        grid-row: 7 / 8;
        grid-column: 9 / 11;
    }

    .modal-capital-label {
        grid-row: 8 / 9;
        grid-column: 2 / 3;
    }

    .modal-capital {
        grid-row: 8 / 9;
        grid-column: 3 / 9;
    }

    .modal-capital-error {
        grid-row: 8 / 9;
        grid-column: 9 / 11;
    }

    .modal-cancel {
        grid-row: 9 / 10;
        grid-column: 7 / 8;
    }

    .modal-submit {
        grid-row: 9 / 10;
        grid-column: 8 / 9;
    }

    .modal-error {
        width: 100%;
        font-size: $fz-mini;
    }
}
