/** Buttons */
.btn {
    display: block;
    padding: 1rem 1rem;
    border: 1px solid rgba($cl-white, .50);
    background: transparent;
    outline: none;
    cursor: pointer;
    color: $cl-white;
    border-radius: .25rem;
    width: 7.5rem;
    text-align: center;

    &:hover {
        color: $cl-dark;
        background: $cl-light;
        border: 1px solid $cl-dark;
    }
}

.btn-primary {
    color: $cl-white;
    background: $cl-green;
    border: 1px solid rgba($cl-lime, .25);

    &:hover {
        color: $cl-white;
        background: $cl-lime;
        border: 1px solid rgba($cl-green, .25);
    }
}

.btn-danger {
    color: $cl-gray;
    background: $cl-gold;
    border: 1px solid rgba($cl-green, .25);

    &:hover {
        color: $cl-white;
        background: $cl-green;
        border: 1px solid rgba($cl-green, .25);
    }
}

.btn-warning {
    color: $cl-white;
    background: $cl-red;
    border: 1px solid rgba($cl-lime, .25);

    &:hover {
        color: $cl-white;
        background: $cl-orange;
        border: 1px solid rgba($cl-red, .25);
    }
}

.btn-crypto {
    color: $cl-white;
    background: $cl-lime;
    border: 1px solid rgba($cl-green, .25);

    &:hover {
        color: $cl-white;
        background: $cl-green;
        border: 1px solid rgba($cl-lime, .25);
    }
}

.btn-stock {
    color: $cl-white;
    background: $cl-orange;
    border: 1px solid rgba($cl-red, .25);

    &:hover {
        color: $cl-white;
        background: $cl-red;
        border: 1px solid rgba($cl-orange, .25);
    }
}

.update {
    color: $cl-white;
    cursor: pointer;
    padding: .50rem 1rem;
    border-radius: .25rem;
    background: rgba($cl-blue, .75);
    margin-right: .25rem;

    &:hover {
        background: rgba($cl-gray, .35);
    }
}

.destroy {
    color: $cl-white;
    cursor: pointer;
    padding: .50rem 1rem;
    border-radius: .25rem;
    background: rgba($cl-red, .75);
    margin-left: .25rem;

    &:hover {
        background: rgba($cl-gray, .35);
    }
}

.show {
    color: $cl-gray;
    background: $cl-gold;
    border: 1px solid rgba($cl-green, .25);
    padding: .50rem 1rem;
    border-radius: .25rem;
    margin-left: .25rem;
    cursor: pointer;
    display: inline-block;

    &:hover {
        color: $cl-white;
        background: $cl-green;
        border: 1px solid rgba($cl-green, .25);
    }
}

.add {
    color: $cl-white;
    background: $cl-red;
    border: 1px solid rgba($cl-lime, .25);
    padding: .50rem 1rem;
    border-radius: .25rem;
    margin-left: .25rem;
    cursor: pointer;
    display: inline-block;

    &:hover {
        color: $cl-white;
        background: $cl-orange;
        border: 1px solid rgba($cl-red, .25);
    }
}