.messenger {
    display: none;
}

.error {
    display: block;
    position: fixed;
    top: 4rem;
    right: 2rem;
    color: $cl-white;
    padding: 1rem;
    border-radius: .35rem;
    border: 1px solid rgba($cl-gray, .25);
    background: rgba($cl-red, .75);
}

.success {
    display: block;
    position: fixed;
    top: 4rem;
    right: 2rem;
    color: $cl-white;
    padding: 1rem;
    border-radius: .35rem;
    border: 1px solid rgba($cl-gray, .25);
    background: rgba($cl-green, .75);
}

.info {
    display: block;
    position: fixed;
    top: 4rem;
    right: 2rem;
    color: $cl-dark;
    padding: 1rem;
    border-radius: .35rem;
    border: 1px solid rgba($cl-gray, .25);
    background: rgba($cl-gold, .75);
}
