.background-dot {
    background-image: radial-gradient(
        #6d28d9 0.5px,
        transparent 0.5px
    ) !important;
    background-size: 19px 19px !important;
    background-color: #c7d2fe !important;
}
