/** Borders. */
.border-bottom {
    @apply p-2 border-b border-stone-100 border-opacity-50 !important;
}

/** Fancy borders. */
.border-one {
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100% !important;
}

.border-two {
    border-radius: 0% 100% 100% 0% / 100% 100% 0% 0% !important;
}

.border-three {
    border-radius: 67% 0% 69% 0% / 42% 27% 50% 29% !important;
}
