/** Headers */
h1 {
    font-size: $fz-large;
    font-weight: $fw-normal;
    padding-bottom: 1rem;
}
h2 {
    font-size: $fz-medium;
    font-weight: $fw-normal;
    padding-bottom: 2rem;
}
h3 {
    font-size: $fz-compact;
    font-weight: $fw-normal;
    padding-bottom: 1rem;
}
h4 {
    font-size: $fz-small;
    font-weight: $fw-normal;
    padding-bottom: 1rem;
}
h5 {
    font-size: $fz-mini;
    font-weight: $fw-normal;
    padding-bottom: 1rem;
}
