/** Buttons */
.btn {
    display: block;
    cursor: pointer;
    color: $cl-white;
    border-radius: 3px;
    text-align: center;
    margin-left: 0.25rem;
    border: 1px solid rgba($cl-gray-400, 0.5);
    background: rgba($cl-gray-200, 0.5);
    width: 100%;

    &:hover {
        color: $cl-dark;
        background: $cl-light;
        border: 1px solid rgba($cl-white, 0.5);
    }

    &:disabled {
        background: transparent;
        cursor: not-allowed;
        border: 1px solid rgba($cl-gray-400, 0.5);

        &:hover {
            background: rgba($cl-gray-400, 0.35);
        }
    }
}

.btn-primary {
    background: $cl-green;
    border: 1px solid rgba($cl-lime, 0.25);
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    &:hover {
        background: $cl-lime;
        border: 1px solid rgba($cl-green, 0.25);
    }
}

.btn-secondary {
    background: transparent;
    border: 1px solid rgba($cl-gray-400, 0.5);
    color: $cl-black;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    &:hover {
        background: $cl-gray-200;
        border: 1px solid rgba($cl-gray-400, 0.5);
    }
}

.btn-danger {
    background: $cl-orange;
    border: 1px solid rgba($cl-red, 0.25);
    margin-bottom: 1rem;
    padding: 1rem;

    &:hover {
        background: $cl-red;
        border: 1px solid rgba($cl-orange, 0.25);
    }
}

.btn-warning {
    background: $cl-red;
    border: 1px solid rgba($cl-orange, 0.25);
    margin-bottom: 1rem;
    padding: 1rem;

    &:hover {
        background: $cl-orange;
        border: 1px solid rgba($cl-red, 0.25);
    }
}

.btn-green-outline {
    color: rgba($cl-green, 0.75);
    border: 1px solid rgba($cl-gray-400, 0.5);

    .sprite > .icon {
        fill: rgba($cl-green, 0.75);

        &:hover {
            fill: rgba($cl-green, 1);
        }
    }
    &:hover {
        color: rgba($cl-green, 1);
        border: 1px solid rgba($cl-green, 0.5);
    }
}

.btn-red-outline {
    color: rgba($cl-red, 0.75);
    border: 1px solid rgba($cl-gray-400, 0.5);

    .sprite > .icon {
        fill: rgba($cl-red, 0.75);

        &:hover {
            fill: rgba($cl-red, 1);
        }
    }
    &:hover {
        color: rgba($cl-red, 1);
        border: 1px solid rgba($cl-red, 0.5);
    }
}

.btn-blue-outline {
    color: rgba($cl-blue, 0.75);
    border: 1px solid rgba($cl-gray-400, 0.5);

    .sprite > .icon {
        fill: rgba($cl-blue, 0.75);

        &:hover {
            fill: rgba($cl-blue, 1);
        }
    }
    &:hover {
        color: rgba($cl-blue, 1);
        border: 1px solid rgba($cl-blue, 0.5);
    }
}

.btn-gold-outline {
    color: rgba($cl-gold, 0.75);
    border: 1px solid transparent;

    .sprite > .icon {
        fill: rgba($cl-gold, 0.75);

        &:hover {
            fill: rgba($cl-gold, 1);
        }
    }

    &:hover {
        color: rgba($cl-gold, 1);
        border: 1px solid rgba($cl-gold, 0.5);
    }
}

.btn-purple-outline {
    color: rgba($cl-purple, 0.75);
    border: 1px solid rgba($cl-gray-400, 0.5);
    text-align: center;

    .sprite > .icon {
        fill: rgba($cl-purple, 0.75);
    }

    &:hover {
        color: rgba($cl-purple, 1);
        border: 1px solid rgba($cl-purple, 0.5);
    }
}

.btn-orange-outline {
    color: rgba($cl-orange, 0.75);
    border: 1px solid rgba($cl-gray-400, 0.5);

    .sprite > .icon {
        fill: rgba($cl-orange, 0.75);

        &:hover {
            fill: rgba($cl-orange, 1);
        }
    }

    &:hover {
        color: rgba($cl-orange, 1);
        border: 1px solid rgba($cl-orange, 0.5);
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .button > .btn {
        display: block;
        padding: 1rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }
}
