/** Buttons */
.button {
    background: transparent;
    border: none;

    .btn {
        display: inline-block;
        padding: 1rem;
        border: 1px solid rgba($cl-white, 0.5);
        cursor: pointer;
        color: $cl-white;
        border-radius: 0.25rem;
        text-align: center;

        &:hover {
            color: $cl-dark;
            background: $cl-light;
            border: 1px solid rgba($cl-white, 0.5);
        }

        &:disabled {
            background: rgba($cl-gray-600, 0.35);
            cursor: not-allowed;
            border: 1px solid rgba($cl-gray-400, 0.5);

            &:hover {
                background: rgba($cl-gray-400, 0.35);
            }
        }
    }

    .btn-primary {
        background: $cl-green;
        border: 1px solid rgba($cl-lime, 0.25);
        margin-right: 1rem;

        &:hover {
            background: $cl-lime;
            border: 1px solid rgba($cl-green, 0.25);
        }
    }

    .btn-secondary {
        background: $cl-gray-400;
        color: $cl-black;
        border: 1px solid rgba($cl-gray-100, 0.25);
        margin-right: 1rem;

        &:hover {
            background: $cl-gray-200;
            border: 1px solid rgba($cl-gray-100, 0.25);
        }
    }

    .btn-danger {
        background: $cl-orange;
        border: 1px solid rgba($cl-red, 0.25);

        &:hover {
            background: $cl-red;
            border: 1px solid rgba($cl-orange, 0.25);
        }
    }

    .btn-warning {
        background: $cl-red;
        border: 1px solid rgba($cl-orange, 0.25);

        &:hover {
            background: $cl-orange;
            border: 1px solid rgba($cl-red, 0.25);
        }
    }

    .btn-crypto {
        background: $cl-lime;
        border: 1px solid rgba($cl-green, 0.25);

        &:hover {
            background: $cl-green;
            border: 1px solid rgba($cl-lime, 0.25);
        }
    }

    .update,
    .show {
        display: inline-block;
        color: $cl-white;
        cursor: pointer;
        border-radius: 0.25rem;
        background: rgba($cl-blue, 0.75);
        margin-right: 0.25rem;
        padding: 0.5rem 0.5rem;
        width: 6rem;
        text-align: center;

        &:hover {
            background: rgba($cl-gray, 0.25);
        }
    }

    .destroy,
    .watch {
        display: inline-block;
        color: $cl-white;
        cursor: pointer;
        border-radius: 0.25rem;
        background: rgba($cl-red, 0.75);
        margin-left: 0.25rem;
        padding: 0.5rem 0.5rem;
        width: 6rem;
        text-align: center;

        &:hover {
            background: rgba($cl-gray, 0.25);
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .button > .btn {
        display: block;
        padding: 1rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }
}

/**
 * ----------------------------------------
 *  Media Query Tablets
 * ----------------------------------------
 */
@media (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
}
