.deck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    position: relative;
    top: 1rem;

    .card {
        border-radius: 5px;
        box-shadow: $box-shadow;
        font-weight: $fw-lighter;

        .title {
            margin-bottom: 0;
            text-transform: uppercase;
            padding: 0.25rem;
        }

        .value {
            font-size: $fz-medium;
            text-align: center;
            color: rgba($cl-gray, 75);
        }
    }

    .green {
        border: 1px solid rgba($cl-green, 0.25);

        .title {
            color: $cl-green;

            .sprite > .icon {
                fill: $cl-green;
            }
        }

        .link {
            background: rgba($cl-green, 0.15);
            text-align: right;

            a {
                text-transform: uppercase;
                padding-right: 0.5rem;
                font-size: 0.75rem;
                cursor: pointer;
            }
        }
    }

    .red {
        border: 1px solid rgba($cl-red, 0.25);

        .title {
            color: $cl-red;

            .sprite > .icon {
                fill: $cl-red;
            }
        }

        .link {
            background: rgba($cl-red, 0.15);
            text-align: right;

            a {
                text-transform: uppercase;
                padding-right: 0.5rem;
                font-size: 0.75rem;
                cursor: pointer;
            }
        }
    }

    .blue {
        border: 1px solid rgba($cl-blue, 0.25);

        .title {
            color: $cl-blue;

            .sprite > .icon {
                fill: $cl-blue;
            }
        }

        .link {
            background: rgba($cl-blue, 0.15);
            text-align: right;

            a {
                text-transform: uppercase;
                padding-right: 0.5rem;
                font-size: 0.75rem;
                cursor: pointer;
            }
        }
    }

    .gold {
        border: 1px solid rgba($cl-gold, 0.25);

        .title {
            color: $cl-gold;

            .sprite > .icon {
                fill: $cl-gold;
            }
        }

        .link {
            background: rgba($cl-gold, 0.15);
            text-align: right;

            a {
                text-transform: uppercase;
                padding-right: 0.5rem;
                font-size: 0.75rem;
                cursor: pointer;
            }
        }
    }
}
