.form {
    padding: 1rem;
    background: rgba($cl-gray, 0.25);
    border-radius: 5px;

    .heading {
        text-align: center;
    }

    .group {
        padding-bottom: 1rem;

        .error {
            color: $cl-red;
        }
    }

    .reset {
        padding-top: 0.25rem;
        text-align: right;

        p > a > span {
            color: $cl-gold;
        }
    }

    .valid {
        border: 1px solid rgba($cl-green, 0.5);
    }

    .invalid {
        border: 1px solid rgba($cl-red, 0.5);
    }
}
