input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea,
select {
    border-radius: 3px;
    padding: 1rem;
    width: 100%;
    border: 1px solid rgba($cl-gray-400, 0.5);
    color: rgba($cl-gray, 0.75);
}

input:focus,
input:active,
textarea:focus,
textarea:active,
select:focus,
select:active {
    outline: none;
    color: rgba($cl-dark, 0.75);
}
