#loader {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .object {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background: $cl-gray;
        margin: 0.25rem;
        border: 1px solid rgba($cl-light, 0.95);
    }
}
