.control {
    display: block;
    position: relative;
    z-index: 300;
    color: $cl-light;
    padding: 0;

    .items {
        position: absolute;
        top: 2.25rem;
        left: -10rem;
        width: 12.5rem;
        border: 1px solid rgba($cl-gray-400, 0.25);
        background: rgba($cl-green, 0.75);
        border-radius: 5px;
        padding: 0.25rem 0.75rem;

        &:hover {
            border: 1px solid rgba($cl-gray-400, 50);
            background: rgba($cl-green, 0.85);
            color: $cl-light;
        }

        .sector {
            padding: 0.25rem;
        }

        .list {
            padding-left: 1rem;

            .item {
                padding: 0.25rem 1rem;
                background: rgba($cl-gray-400, 0.25);
                cursor: pointer;

                &:first-child {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }

                &:last-child {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                &:hover {
                    background: rgba($cl-gray-800, 0.25);
                }

                a {
                    color: $cl-white;

                    &:hover {
                        color: $cl-gold;
                    }
                }
            }
        }
    }
}

.control-hide {
    display: none;
}
