.message {
    position: sticky;
    z-index: 500;
    top: 0;
    right: 0.5rem;
    color: $cl-white;
    cursor: pointer;

    .error {
        padding: 0.5rem;
        border: 1px solid rgba($cl-gray, 0.25);
        background: rgba($cl-red, 0.75);
    }

    .success {
        padding: 0.5rem;
        border: 1px solid rgba($cl-gray, 0.25);
        background: rgba($cl-purple, 0.75);
    }

    .resend {
        position: relative;
        z-index: 201;
        top: 4rem;
        padding: 0.5rem;
        border: 1px solid rgba($cl-gray, 0.25);
        background: rgba($cl-red, 0.75);
    }
}
