#notice {
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background: rgba($cl-gold, .15);
    height: 3rem;
    padding: 0 2rem;

    .note {
        display:grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2.75rem repeat(24, 1fr);
        padding-top: .5rem;
        align-items: center;
        justify-items: center;

        .note-exclaim {
            justify-self: start;
            grid-row: 1 / 1;
            grid-column: 1 / 2;
        }

        .note-message {
            justify-self: start;
            grid-row: 1 / 1;
            grid-column: 2 / 15;
        }

        .note-close {
            grid-row: 1 / 1;
            grid-column: 25 / 26;
        }
    }
}
