.summary {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    place-items: center;
    border-radius: 3px;
    background: $box-background;
    border: $box-border;
    box-shadow: $box-shadow;

    .items {
        padding: 1rem;

        .title {
            font-size: 0.75rem;
            text-align: center;
            color: rgba($cl-gray-600, 0.85);
            margin-bottom: 0;
            font-weight: $fw-normal;
        }

        .value {
            text-align: center;
            color: rgba($cl-gray, 0.75);
            margin-bottom: 0;
            font-weight: $fw-lighter;
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .summary {
        grid-template-columns: repeat(2, 1fr);
    }
}

/**
 * ----------------------------------------
 *  Media Query Tablets
 * ----------------------------------------
 */
@media (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    .summary {
        grid-template-columns: repeat(4, 1fr);
    }
}
