/** for content background. */
@mixin content-background {
    background: $box-background;
    border: $box-border;
    box-shadow: $box-shadow;
    border-radius: 3px;
    margin-top: 0.5rem;
    padding: 0.25rem;
}
/** for items spacing and border bottom. */
@mixin content-items {
    border-bottom: 1px solid rgba($cl-gray-300, 0.75);
    font-weight: $fw-lighter;
    color: rgba($cl-dark, 0.75);
    font-size: 0.85rem;
    padding: 0.25rem;

    &:nth-child(odd) {
        background: rgba($cl-gray-100, 0.25);
    }

    &:nth-child(even) {
        background: rgba($cl-gray-100, 0.1);
    }

    &:first-child {
        font-weight: $fw-normal;
        color: rgba($cl-green, 0.75);
    }

    &:last-child {
        border-bottom: none;
    }
}
/** for items spacing and border bottom. */
@mixin input-label {
    .label {
        position: absolute;
        top: 2px;
        left: 5px;
        transition: 0.5s ease all;
    }

    .input {
        appearance: none;
        padding: 0.75rem;
        height: 100%;

        &:active,
        &:focus {
            border: 1px solid rgba($cl-purple, 0.75);
        }
        &:active ~ .label,
        &:focus ~ .label {
            font-size: 0.5rem;
            color: rgba($cl-purple, 0.75);
        }

        &::placeholder {
            color: rgba($cl-gray-300, 0.75);
        }
    }
}
/** for icon name desktop screen. */
@mixin icon-name-desktop($fill) {
    .sprite > .icon {
        fill: rgba($fill, 0.75);
        margin-top: -5px;
    }

    .name {
        display: inline-block;
        margin-top: 7px;
        padding-left: 0.25rem;
        color: rgba($fill, 0.75);
    }
}
/** for icon name mobile screen. */
@mixin icon-name-mobile($fill) {
    .sprite > .icon {
        fill: rgba($fill, 0.75);
        margin-top: -5px;
        width: 18px;
        height: 18px;
    }
    .name {
        display: inline-block;
        margin-top: 7px;
        padding-left: 5px;
        font-size: 0.75rem;
        color: rgba($fill, 0.75);
    }
}
/** for icon size desktop screen. */
@mixin icon-size-desktop {
    .sprite > .icon {
        height: 18px;
        width: 18px;
    }
}
/** for icon size mobile screen. */
@mixin icon-size-mobile {
    .sprite > .icon {
        height: 16px;
        width: 16px;
    }
}
