/** Screen */
$mini: 320px;
$small: 768px;
$compact: 1024px;

/** Color Scheme */
$cl-black: #000000;
$cl-white: #F5F5F5;
$cl-light: #F0F0F0;
$cl-dark: #383838;
$cl-gray: #808080;
$cl-gold: #F0BA0E;
$cl-blue: #0096FF;
$cl-green: #03A66D;
$cl-lime: #00CC33;
$cl-red: #D0364F;
$cl-orange: #FF4500;

/** Font Size */
$fz-mini: 1.25rem;
$fz-small: 1.50rem;
$fz-compact: 1.75rem;
$fz-medium: 2.25rem;
$fz-large:  3.25rem;

/** Font Weight */
$fw-normal: normal;
$fw-lighter: lighter;
$fw-bolder: bolder;
