.stock-cheat>.items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    border-bottom: 1px solid rgba($cl-gray, .15);
    padding: 1rem;
    vertical-align: top;

    &:last-child {
        border-bottom: none;
    }
}

.stock-watchlist>.items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 5rem repeat(8, 1fr);
    border-bottom: 1px solid rgba($cl-gray, .15);
    padding: 1rem;
    vertical-align: top;

    &:last-child {
        border-bottom: none;
    }
}