.chart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2rem repeat(4, 1fr);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    min-height: 25rem;
    margin-top: 0.5rem;
    color: rgba($cl-gray, 0.75);

    .board {
        grid-column: 1 / 5;
        grid-row: 1 / 5;
    }

    .account {
        grid-column: 1 / 2;
        grid-row: 2 / 4;

        @include content-background;
    }

    .offer {
        grid-column: 1 / 2;
        grid-row: 4 / 6;

        @include content-background;
    }

    .graph {
        grid-column: 2 / 5;
        grid-row: 2 / 6;

        @include content-background;
    }
}

/**
 * ----------------------------------------
 *  Media Query Phones
 * ----------------------------------------
 */
@media only screen and (min-device-width: 280px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    .chart {
        grid-template-columns: 1fr;
        grid-template-rows: 2rem repeat(3, 1fr);

        .board {
            grid-column: 1;
            grid-row: 1;
        }

        .account {
            grid-column: 1;
            grid-row: 2;
            padding: 0.25rem 0.25rem;
        }

        .offer {
            grid-column: 1;
            grid-row: 3;
            padding: 0.25rem 0.25rem;
        }

        .graph {
            grid-column: 1;
            grid-row: 4;
            padding: 0.25rem 0.25rem;
        }
    }
}

/**
 * ----------------------------------------
 *  Media Query Tablets
 * ----------------------------------------
 */
@media (min-device-width: 768px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    .chart {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2rem repeat(2, 1fr);

        .board {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }

        .account {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            padding: 0.25rem 0.25rem;
        }

        .offer {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            padding: 0.25rem 0.25rem;
        }

        .graph {
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            padding: 0.25rem 0.25rem;
        }
    }
}
